<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= post.title %></title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
    <%- include('header') %>
    <div class="post-container">
        <h2 class="post-title"><%= post.title %></h2>
        <p class="post-content"><%= post.content %></p>

        <a href="/" class="btn-back">Back to Home</a>
    </div>
    <%- include('footer') %>
</body>
</html>
